p{
    color:rgb(0, 70, 0);
    font-size:large;
    font-weight:;
    font-family:corbel light;
    
}
body{
    background-color:rgb(221, 255, 241);}

#tytul{
    color:rgb(0, 70, 0);
    font-size:x-large;
    font-weight:bold;
}

div
{
max-width: 850px;
}
