p{
    color:rgb(144, 80, 196);
    font-size:large;
    font-weight:;
    font-family:corbel light;
    
}
body{
    background-color:rgb(250, 250, 190);}

#tytul{
    color:rgb(121, 41, 187);
    font-size:x-large;
    font-weight:bold;
}

div
{
max-width: 850px;
}
