p{
    color:rgb(27, 27, 219);
    font-size:large;
    font-weight:;
    font-family:corbel light;
}
body{
    background-color:lightgoldenrodyellow;}

#tytul{
    color:darkblue;
    font-size:x-large;
    font-weight:bold;
}